@charset "UTF-8";

/* background */
body {
	background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(17,17,17,1) 100%);
	background-attachment: fixed;
	color: white;
	font-family: "Trebuchet MS","Gill Sans MT","Segoe UI","Helvetica","Arial";
	margin: 0px;
}

/* header/footer properties */
/* font */
.header-font {
	margin: 0px;
	padding: 4px;
	font-size: 200%;
	text-align: left;
}

/* bars-gradient */
.neutral-gradient {
	background: linear-gradient(180deg, rgba(51,51,68,1) 0%, rgba(34,34,51,1) 49%, rgba(17,17,34,1) 51%, rgba(34,34,51,1) 100%);
	color: white;
}

/* stickyness */
.header {
	position: sticky;
	top: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%
}

.footer {
	position: fixed;
	bottom: 0;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%
}

/* right justification */
.right {
	text-align: right;
	float: right
}

/* fill to container */
.expand {
	width: 100%;
}

/* coloured gradients for link buttons */
/* red */
.red-gradient {
	background: linear-gradient(180deg, rgba(136,0,0,1) 0%, rgba(68,0,0,1) 49%, rgba(34,0,0,1) 51%, rgba(102,0,0,1) 100%);
	color: white;
}

a.red-gradient:link, a.red-gradient:visited {
	text-decoration: none;
}

a.red-gradient:hover, button.red-gradient:hover {
	background: linear-gradient(180deg, rgba(170,0,0,1) 0%, rgba(102,0,0,1) 49%, rgba(68,0,0,1) 51%, rgba(136,0,0,1) 100%);
	text-decoration: none;
}

a.red-gradient:active, button.red-gradient:active {
	background: linear-gradient(180deg, rgba(102,0,0,1) 0%, rgba(34,0,0,1) 49%, rgba(0,0,0,1) 51%, rgba(68,0,0,1) 100%);
	text-decoration: none;
}

/* green */
.green-gradient {
	background: linear-gradient(180deg, rgba(0,136,0,1) 0%, rgba(0,68,0,1) 49%, rgba(0,34,0,1) 51%, rgba(0,102,0,1) 100%);
	color: white;
}

a.green-gradient:link, a.green-gradient:visited {
	text-decoration: none;
}

a.green-gradient:hover, button.green-gradient:hover {
	background: linear-gradient(180deg, rgba(0,170,0,1) 0%, rgba(0,102,0,1) 49%, rgba(0,68,0,1) 51%, rgba(0,136,0,1) 100%);
	text-decoration: none;
}

a.green-gradient:active, button.green-gradient:active {
	background: linear-gradient(180deg, rgba(0,102,0,1) 0%, rgba(0,34,0,1) 49%, rgba(0,0,0,1) 51%, rgba(0,68,0,1) 100%);
	text-decoration: none;
}

/* grey */
.grey-gradient {
	background: linear-gradient(180deg, rgba(136,136,136,1) 0%, rgba(68,68,68,1) 49%, rgba(34,34,34,1) 51%, rgba(102,102,102,1) 100%);
	color: white;
}

a.grey-gradient:link, a.grey-gradient:visited {
	text-decoration: none;
}

a.grey-gradient:hover, button.grey-gradient:hover {
	background: linear-gradient(180deg, rgba(170,170,170,1) 0%, rgba(102,102,102,1) 49%, rgba(68,68,68,1) 51%, rgba(136,136,136,1) 100%);
	text-decoration: none;
}

a.grey-gradient:active, button.grey-gradient:active {
	background: linear-gradient(180deg, rgba(102,102,102,1) 0%, rgba(34,34,34,1) 49%, rgba(0,0,0,1) 51%, rgba(68,68,68,1) 100%);
	text-decoration: none;
}

/* home screen split */
.fill-table {
	width: 100%;
}

/* clock large text */
.very-large {
	font-size: 400%;
	margin-top: 4px;
	margin-bottom: 4px;
}

/* blank links */
a.blank:link, a.blank:visited, a.blank:hover {
	color: inherit;
	text-decoration: none;
}

/* transparent lists */
ul {
	list-style-position: inside;
	list-style-type: none;
	padding-left: 16px;
	padding-right: 16px;
}

li {
	background: linear-gradient(180deg, #00000000 0%, #FFFFFF22 100%);
	border-style: solid;
	border-color: #777777;
	border-width: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
}

/* while links look like buttons when styled with gradients, actual
buttons need some handholding */
button {
	border: 0px;
}